html {
  background-color: #f1f3fc;
  color: #002c4c;
  font-family: 'Verdana', sans-serif;
  min-height: 100%;
  position: relative;
}

a:link,
a:visited {
  color: #0e4e7c;
}

a:hover,
a:active {
  color: #7c0e0e;
}

h1,
h2,
h3 {
  text-align: center;
}

details {
  margin: 10px;
}

nav {
  text-align: center;
  padding-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 5px;
}

li {
  padding: 2px 0;
}

select {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  display: block;
  font-family: 'Courier New', monospace;
  width: 60%;
  margin: 10px;
}

option {
  background-color: transparent;
}

/* codex */
#codex {
  display: flex;
  width: 700px;
  margin: auto;
  padding: 30px;
  border: 3px solid #164074;
  box-shadow: #164074 20px 20px;
  border-radius: 5%;
}

/* mobile, auto height */
#codex > div {
  height: 500px;
}

.selectors {
  flex: 0 0 200px;
}

.home,
.synopsis,
.character {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chapterlist {
  margin-top: 20px;
  padding: 10px;
  overflow: auto;
}

.chapter {
  display: table;
  border-bottom: 2px solid gray;
}

.chapterlist .chapter:last-of-type {
  border-bottom: none;
}

.chapter > div {
  padding: 5px 10px;
  display: table-cell;
}

.ch-left {
  text-align: center;
}
/* mobile: stack instead of side to side */
.ch-right {
  width: 75%;
}

/* sticky footer */

body {
  margin: 0 0 20px; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
}
